@model IEnumerable<MyParkingSkopje.ViewModels.ParkingDetails>
@{
    ViewBag.Title = "ByMunicipality";
}

<h2>By Municipality</h2>
<!--tuka nesto Parkings in KARPOS/blabla, imeto na opstianta e vo viewBag.municipality
    vo modelot ima lista od ParkingDetails kade ima informacii za parkingot, rating, distanca,
    sortirani spored rating - da se dogovorime dali ke ima sortiranje i po nesto drugo tuka.
    -->

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.parking.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.distance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numberOfReviews)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.parking.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numberOfReviews)
            </td>
            <td>
                <a href="/Parking/Details/@item.parking.ParkingId">Details</a>
            </td>
        </tr>

    }
</table>
