@model MyParkingSkopje.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


<div style="margin:0 auto;">
    <div style=" height:100vh; margin: 0 auto; margin-top:6%;">
        <div class="row text-center" style="width:100%;">
            <div class="col-xs-offset-2 col-sm-offset-3 col-md-offset-4 col-xs-8 col-sm-6 col-md-4  align-self-center blue-form" style="display:flex; justify-content:center;">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", @style = "max-width:100%", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h1 class="gabriola-header text-center">Sign Up</h1>
                    <div class="form-group" style="display:flex; justify-content:center; text-align:center;">
                        <div>
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name", @style = "width:250px;" })
                        </div>
                    </div>
                    <div class="form-group" style="display:flex; justify-content:center;">
                        <div>
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name", @style = "width:250px;" })
                        </div>
                    </div>
                    <div class="form-group" style="display:flex; justify-content:center;">
                        <div>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", @style = "width:250px;" })
                        </div>
                    </div>
                    <div class="form-group" style="display:flex; justify-content:center;">
                        <div >
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", @style = "width:250px;" })
                        </div>
                    </div>
                    <div class="form-group" style="display:flex; justify-content:center;">
                        <div >
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", @style = "width:250px;" })
                        </div>
                    </div>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <p class="text-center">Already a member? <a href="/Account/Login" class="black-bold-link">Log In</a></p>
                    </div>
                    <div class="form-group">
                        <div>
                            <input type="submit" class="btn-default blue-white-button text-center" value="Sign Up" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
