@model IEnumerable<MyParkingSkopje.Models.Parking>

@{
    ViewBag.Title = "ListParkings";
}

<h2>List all Parkings</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lattitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @{ if (item.Fee == true) { <p>yes</p>}
                else { <p>no</p>} }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lattitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            <a href="/Parking/Details/@item.ParkingId">Details</a>
        </td>
    </tr>
}

</table>
