@model MyParkingSkopje.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div style="margin:0 auto;">
    <div style=" height:100vh; margin: 0 auto; margin-top:6%;">
        <div class="row text-center" style="width:100%;">
            <div class="col-xs-offset-2 col-sm-offset-3 col-md-offset-4 col-xs-8 col-sm-6 col-md-4  align-self-center blue-form" style="display:flex; justify-content:center;">
                <div style="margin:auto;" class="text-center">
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h1 class="gabriola-header">Change Your Password </h1>
                        <br />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group" style="display:flex; justify-content:center;">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Old Password" })
                        </div>
                        <div class="form-group" style="display:flex; justify-content:center;">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password" })
                        </div>
                        <div class="form-group" style="display:flex; justify-content:center;">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="Change Password" class="blue-white-button " />
                        </div>
                    }
                </div>
                </div>
            </div>
        </div>
    </div>
                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
